#pageTitle{
    -fx-font-weight: bold;
    -fx-text-alignment: left;  
}

#pageDescription{
	-fx-text-alignment: left;
}

#seperatorTop{
    -fx-halignment: center;
}

#btnSearch{
    -fx-background-image: url("search.png");   
	-fx-background-size: 20 20;
	-fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#txtReaction{
	-fx-font-size: 16;
}